body {
    font-family: 'Segoe UI Semibold', sans-serif;
    background-color: white;
    margin: 0;
	co
    padding: 20px;
    text-align: center;
    direction: rtl;
}

h2 {
	color:white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline-block;
    border-right: 1px solid #bbb;
    font-weight: bold;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    width: 320px;
    padding: 6px;
    text-decoration: none;
    background-image: url("ab.jpg");
	
}

li a:hover {
    background-image: url("9.jpg");
}

table {
    background-image: url("9.jpg");
    background-attachment: fixed;
    background-size: cover;
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 1.2px solid white;
    padding: 8px;
    text-align: center;
}


tr:nth-child(even) {
    color: black;
}


td:hover {
    background-color: #ddd;
}

a {
    color: #0645AD;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.content-wrapper {
  margin-top: 20px;
  padding: 20px;
  background-image: url("42.jpg"); 
  background-size:cover;
  background-repeat:no-repeat;
  border: 1px solid #ddd; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%; 
  margin-left: auto; 
  margin-right: auto;
}